In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdeasdeasda'))
s

0     a
1     s
2     d
3     e
4     a
5     s
6     d
7     e
8     a
9     s
10    d
11    a
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [4]:
s.value_counts()

a    4
d    3
s    3
e    2
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64